// @media (max-width: 1325px) {
//   .Input-Skeleton {
//     display: none;
//   }
//   .Order-Skeletons {
//     display: none;
//   }
// }

// @media (max-width: 400px) {
//   .Home-Main {
//     width: 771px;
//     .wrapper {
//       width: 1150px;
//       height: 1946px;
//       position: relative;
//       left: 38px;
//       top: 68px;
//       border-radius: 70px;
//       background: #00e67a;
//       box-shadow: inset 17px 17px 60px #00a31b, inset -17px -17px 60px #00ffc3;
//     }

//     .card-main {
//       display: flex;
//       position: relative;
//       left: 69px;
//       top: 164px;
//       flex-wrap: wrap;
//       gap: 40px;
//     }
//   }
//   .Input {
//     display: flex;
//     justify-content: center;
//     position: relative;
//     top: 168px;
//     left: 237px;
//     z-index: 10;
//   }

//   .Select {
//     position: absolute;
//     left: 520px !important;
//     z-index: 12;
//     top: 152px !important;
//   }

//   .Input-Skeleton {
//     display: flex;
//     justify-content: center;
//     position: absolute;
//     top: 131px;
//     left: 189px;
//     z-index: 10;
//     width: 509px;
//     display: none;
//   }
//   .Cart-Main {
//     .cart-wrapper {
//       position: absolute;
//       height: 1189px;
//       right: 0px;
//       width: 420px;
//       background: white;
//       display: flex;
//       justify-content: center;
//     }
//   }

//   .Not-Found-Input {
//     p {
//       position: absolute;
//       left: 69px;
//       top: 31px;
//       font-size: 27px;
//     }

//     img {
//       width: 372px;
//       top: 127px;
//       position: absolute;
//       left: 129px;
//     }
//   }

//   .Popular-Main {
//     width: 771px;
//     .popular-wrapper {
//       width: 1150px;
//       height: 2045px !important;
//       left: 38px;
//       top: 68px;

//       .popular-cards-render-place {
//         display: flex;
//         position: relative;
//         left: 74px;
//         top: 184px;
//       }

//       h1 {
//         position: relative;
//         top: 174px !important;
//         font-size: 35px;
//         left: 48px !important;
//       }
//     }
//   }

//   .Expensive-Main {
//     width: 771px;
//     .expenisve-wrapper {
//       width: 1150px;
//       height: 2045px !important;
//       left: 38px;
//       top: 68px;

//       h1 {
//         position: relative;
//         top: 166px !important;
//         font-size: 35px;
//         left: 48px !important;
//         color: white;
//       }

//       .expensive-cards-render-place {
//         display: flex;
//         position: relative;
//         left: 74px;
//         top: 184px;
//         flex-wrap: wrap;
//         gap: 40px;
//       }
//     }
//   }

//   .Cheap-Main {
//     width: 771px;

//     .cheap-wrapper {
//       width: 1150px;
//       height: 2045px !important;
//       left: 38px;
//       top: 68px;

//       .cheap-cards-render-place {
//         display: flex;
//         position: relative;
//         left: 74px;
//         top: 199px;
//         flex-wrap: wrap;
//         gap: 40px;
//       }

//       h1 {
//         position: relative;
//         top: 179px !important;
//         font-size: 28px !important;
//         left: 64px !important;
//         color: white;
//         margin-left: 60px;
//       }
//     }
//   }
//   .Order-Main {
//     width: 771px;

//     .Select-Border {
//       position: absolute;
//       width: 467px;
//       top: 515px !important;
//       right: 149px !important;
//     }

//     .order-wrapper {
//       width: 1150px;
//       height: 799px !important;
//       left: 38px;
//       top: 68px;
//       left: 4px !important;

//       .Checkbox-wrapper {
//         display: flex;
//         flex-direction: column;
//         position: absolute;
//         right: 320px !important;
//         top: 217px !important;

//         p {
//           font-size: 9px !important;
//         }

//         h2 {
//           position: absolute;
//           white-space: nowrap;
//           top: -2px;
//           font-size: 13px !important;
//           left: 70px !important;
//         }
//       }

//       .image-content-border {
//         width: 299px !important;
//         height: 269px !important;
//         position: absolute;
//         top: 217px;
//         left: 62px;
//       }

//       h1 {
//         color: white;
//         margin: 61px;
//         font-size: 39px;
//         position: absolute;
//         top: 48px;
//       }
//     }
//   }

//   .Artists-Main {
//     width: 771px;

//     .artists-wrapper {
//       width: 1150px !important;
//       height: 1644px !important;
//       left: 38px;
//       top: 68px;
//       left: 3px;

//       h1 {
//         position: absolute;
//         left: 119px;
//         top: 105px;
//       }

//       .user-artist-content-wrapper {
//         display: flex;
//         flex-direction: row;
//         gap: 17px;
//         left: -41px;
//         flex-wrap: wrap;
//         justify-content: center;
//         position: absolute;
//         top: 207px;
//       }
//     }
//   }

//   .Image-Info-Main {
//     width: 787px;
//     height: 2190px;
//     left: -74px;
//     position: absolute;
//     z-index: 12;
//     top: -297px;

//     .back-icon {
//       position: fixed;
//       top: 117px;
//       left: 62px;
//     }

//     .css-4z499o-JoyCard-root {
//       width: 428px;
//       left: 82px;
//       top: 149px;
//     }

//     .Info-Main {
//       width: 227px;
//       position: fixed;
//       left: 565px;
//       top: 152px;
//       height: 418px;
//     }
//   }

//   .NotFound-Main {
//     width: 771px;

//     .not-found-wrapper {
//       width: 1150px;
//       height: 2045px !important;
//       left: -2px;
//       top: 68px;

//       h1 {
//         position: absolute;
//         top: 239px;
//         font-size: 43px;
//       }

//       .pencil {
//         top: 107px;
//       }
//     }
//   }
//   .Image-Info-Main {
//     width: 787px;
//     height: 2190px;
//     left: -74px;
//     position: absolute;
//     z-index: 12;
//     top: -297px;

//     .back-icon {
//       position: fixed;
//       top: 117px;
//       left: 62px;
//     }

//     .css-4z499o-JoyCard-root {
//       width: 428px;
//       left: 82px;
//       top: 149px;
//     }

//     .Info-Main {
//       width: 227px;
//       position: fixed;
//       left: 565px;
//       top: 152px;
//       height: 418px;
//     }
//   }
//   .Input-Skeleton {
//     display: none;
//   }

//   .Sait-Info-Main {
//     display: flex;
//     justify-content: center;
//     width: 766px;

//     .sait-info-wrapper {
//       width: 954px;
//       height: 700px;
//       background-color: #fff;
//       z-index: 20;

//       .text-block {
//         z-index: 2;
//         width: 500px;
//         height: 500px;
//         position: absolute;
//         top: 168px;
//         left: 38px;
//       }
//     }
//     img {
//       display: none;
//     }
//     .mobile-image {
//       display: block;
//       position: absolute;
//       width: 138px;
//       right: -325px;
//       top: 153px;
//     }
//   }
// }

// @media (max-width: 820px) {
//   .Home-Main {
//     width: 771px;

//     .wrapper {
//       width: 1150px;
//       height: 2000px;
//       left: 63px;
//     }
//   }

//   .Not-Found-Input {
//     p {
//       left: 75px;
//     }

//     img {
//       left: 127px;
//     }
//   }

//   .Input {
//     width: 317px !important;
//     left: 165px !important;
//   }

//   .Select {
//     position: absolute;
//     left: 529px;
//     z-index: 12;
//     top: 168px;
//   }

//   .Popular-Main {
//     width: 771px;

//     .popular-wrapper {
//       width: 1150px;
//       height: 2000px;
//       left: 63px;

//       h1 {
//         margin-left: -33px;
//       }
//     }
//   }
//   .Expensive-Main {
//     width: 771px;

//     .expenisve-wrapper {
//       width: 1150px;
//       height: 2000px;
//       left: 63px;

//       h1 {
//         padding-left: -35px;
//       }
//     }
//   }

//   .Cheap-Main {
//     width: 771px;

//     .cheap-wrapper {
//       width: 1150px;
//       height: 2000px;
//       left: 63px;

//       h1 {
//         padding: -65px;
//         font-weight: 100;
//         left: 12px !important;
//       }
//     }
//   }

//   .cart-wrapper {
//     height: 1300px !important;
//   }

//   .Order-Main {
//     width: 771px;

//     .Select-Border {
//       position: absolute;
//       width: 467px;
//       top: 515px !important;
//       right: 149px !important;
//     }

//     .order-wrapper {
//       width: 1150px;
//       height: 799px !important;
//       left: 38px;
//       top: 68px;
//       left: 4px !important;

//       .Checkbox-wrapper {
//         display: flex;
//         flex-direction: column;
//         position: absolute;
//         right: 320px !important;
//         top: 217px !important;

//         p {
//           font-size: 9px !important;
//         }

//         h2 {
//           position: absolute;
//           white-space: nowrap;
//           top: -2px;
//           font-size: 13px !important;
//           left: 70px !important;
//         }
//       }

//       .image-content-border {
//         width: 299px !important;
//         height: 269px !important;
//         position: absolute;
//         top: 217px;
//         left: 62px;
//       }

//       h1 {
//         color: white;
//         margin: 61px;
//         font-size: 39px;
//         position: absolute;
//         top: 48px;
//       }
//     }
//   }

//   .Sait-Info-Main {
//     img {
//       display: none;
//     }

//     .mobile-image {
//       display: block;
//       position: absolute;
//       width: 138px;
//       margin-right: 2px;
//     }
//   }
// }

@media (max-width: 1325px) {
  .Input-Skeleton {
    display: none;
  }
  .Order-Skeletons {
    display: none;
  }
}

@media (max-width: 500px) {
  .Card-Skeletons {
    display: block;
  }
}

@media (max-width: 600px) {
  .css-1qdobry-JoyCard-root {
    width: 190px !important;
  }

  body {
    background-color: #00ffb3;
  }

  .css-1juivf6-MuiTypography-root {
    font-size: 15px !important;
    font-weight: 1000 !important;
  }

  .css-1ieiyun-MuiButtonBase-root-MuiButton-root {
    top: 512px !important;
    height: 43px;
    left: 31px !important;
    width: 183px !important;
    width: 186px;
    border-radius: 7px;
    background-color: rgb(75, 171, 255);
  }
  .css-mk396z-JoyCard-root {
    width: 164px !important;
  }

  .css-ob9rc6-MuiButtonBase-root-MuiButton-root {
    width: 205px !important;
    top: 392px !important;
    border-radius: 25px !important;
    background-color: rgb(90, 144, 1);
  }

  .css-cy4m24-JoyTypography-root {
    font-size: 15px !important;
  }

  .css-ikcr0c-JoyTypography-root {
    font-size: 15px !important;
  }

  .css-1dnlp9b-MuiButtonBase-root-MuiButton-root {
    left: -164px;
    top: 152px;
    width: 301px;
    height: 49px;
    border-radius: 10px;
    z-index: 11;
    background: linear-gradient(0deg, #18cc00 0%, #5aff57 100%);
  }

  // skeletons
  .Order-Mobile-Skeleton {
    position: absolute;
    top: 235px;
    left: 46px;
  }

  .Text-Mobile-Skeleton {
    position: absolute;
    top: 533px;
    left: 2px;
  }

  .button-skeleton {
    position: absolute;
    top: 936px;
    left: 51px;
  }

  .Home-Main {
    max-width: 300px;
    width: 499px !important;
    .wrapper {
      width: 302px !important;
      height: 3110px !important;
      left: 54px !important;
      top: 25px;
      border-radius: 71px;
      border-bottom-right-radius: 10px;
      border-bottom-left-radius: 10px;
    }

    .card-main {
      display: flex;
      position: relative;
      left: 39px;
      top: 186px;
      flex-wrap: wrap;
      gap: 40px;
    }
  }

  .Succsess-Main {
    position: absolute;
    z-index: 2;
    right: 0px;
    top: 62px;
    width: 221px;
    height: 558px;
    background-color: rgb(251, 254, 252);
    display: flex;
    justify-content: center;

    P {
      font-size: 11px;
      position: absolute;
      top: 116px;
      white-space: nowrap;
      color: grey;
    }

    img {
      position: absolute;
      left: 21px;
      top: 169px;
      width: 175px;
    }

    h1 {
      position: absolute;
      top: 84px;
      font-size: 19px;
      left: 13px;
    }
  }

  .Input {
    width: 279px !important;
    left: 65px !important;
  }

  .Select {
    position: absolute;
    left: 86px !important;
    z-index: 12;
    top: 102px !important;
  }

  .Input-Skeleton {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 131px;
    left: 189px;
    z-index: 10;
    width: 509px;
    display: none;
  }
  .Cart-Main {
    .back-cart-icon-another {
      position: absolute;
      width: 29px;
      z-index: 1;
      top: 21px;
      left: 9px;
      cursor: pointer;
    }

    .cart-wrapper {
      position: absolute;
      height: 1189px;
      right: 0px;
      width: 230px;
      background: white;
      display: flex;
      justify-content: center;

      .cart-cards-place-border {
        width: 213px;
        position: absolute;
        height: 402px;
        justify-content: center;
        display: flex;
        top: 82px;
        gap: 20px;
        left: 16px;
        overflow: auto;
        border-radius: 10px;
        background: #e0e0e0;
        box-shadow: 33px 33px 66px #09b94d, -33px -33px 66px #ffffff;
      }

      h1 {
        font-size: 17px;
        position: absolute;
        top: 13px;
        left: 44px;
      }
    }

    .back-cart-icon {
      position: absolute;
      width: 29px;
      top: 20px;
      left: 9px;
      cursor: pointer;
    }

    .Empty-Cart {
      h1 {
        position: absolute;
        top: 177px;
        white-space: nowrap;
        left: 12px;
        z-index: 1;
        font-size: 20px;
      }

      p {
        position: absolute;
        left: 20px;
        top: 223px;
        z-index: 1;
        font-size: 12px;
        white-space: nowrap;
        color: grey;
      }

      img {
        position: absolute;
        top: 258px;
        left: 33px;
        width: 180px;
      }
    }
  }

  .Not-Found-Input {
    p {
      left: -10px !important;
      top: -20px;
    }

    img {
      width: 185px;
      top: 98px;
      position: absolute;
      left: 20px !important;
    }
  }

  .Popular-Main {
    max-width: 300px;
    width: 499px !important;
    .popular-wrapper {
      width: 302px !important;
      height: 3234px !important;
      left: 54px !important;
      top: 25px !important;
      border-radius: 71px;
      border-bottom-right-radius: 10px;
      border-bottom-left-radius: 10px;

      .popular-cards-render-place {
        display: flex;
        position: relative;
        left: 36px;
        top: 172px;
      }

      h1 {
        position: relative;
        top: 174px !important;
        font-size: 26px !important;
        left: 48px !important;
      }
    }
  }

  .Expensive-Main {
    max-width: 300px;
    width: 499px !important;
    .expenisve-wrapper {
      width: 302px !important;
      height: 3234px !important;
      left: 54px !important;
      top: 25px !important;
      border-radius: 71px;
      border-bottom-right-radius: 10px;
      border-bottom-left-radius: 10px;

      h1 {
        position: relative;
        top: 166px !important;
        font-size: 25px !important;
        left: 21px !important;
        color: white;
      }

      .expensive-cards-render-place {
        display: flex;
        position: relative;
        left: 36px;
        top: 172px;
      }
    }
  }

  .Cheap-Main {
    max-width: 300px;
    width: 499px !important;

    .cheap-wrapper {
      width: 302px !important;
      height: 3234px !important;
      left: 54px !important;
      top: 25px !important;
      border-radius: 71px;
      border-bottom-right-radius: 10px;
      border-bottom-left-radius: 10px;

      .cheap-cards-render-place {
        display: flex;
        position: relative;
        left: 36px;
        top: 186px;
      }

      h1 {
        position: relative;
        top: 179px !important;
        color: white;
        // margin-left: 60px;
        top: 170px !important;
        left: -23px !important;
        font-size: 23px !important;
      }
    }
  }
  .Order-Main {
    width: 771px;
    max-width: 394px;

    .Select-Border {
      position: absolute;
      width: 200px !important;
      left: -29px;
      top: 835px !important;
      right: -64px !important;
      border: none !important;
      background: transparent !important;

      .select-first-input {
        position: absolute;
        left: 131px !important;
      }

      .Term-Border {
        right: -493px !important;
      }
    }

    .order-wrapper {
      width: 1150px;
      height: 1128px !important;
      left: 38px;
      top: 37px !important;
      left: 4px !important;
      border-bottom-left-radius: 10px !important;
      border-bottom-right-radius: 10px !important;

      .Checkbox-wrapper {
        display: flex;
        flex-direction: column;
        position: absolute;
        right: 301px !important;
        top: 543px !important;

        p {
          font-size: 9px !important;
        }

        h2 {
          position: absolute;
          white-space: nowrap;
          top: -2px;
          font-size: 12px !important;
          left: 70px !important;
        }
      }

      .image-content-border {
        width: 500px;
        height: 500px;
        position: absolute;
        top: 225px;
        left: 50px !important;
        background-color: #fff;
      }

      .custom-file-input-label {
        position: absolute;
        top: 169px;
        left: 91px !important;
      }

      h1 {
        color: white;
        margin: 38px !important;
        font-size: 28px !important;
      }
    }
  }

  .Artists-Main {
    max-width: 300px;
    width: 499px !important;

    .Data-Skeleton-Main {
      position: absolute;
      display: flex;
      flex-wrap: wrap;
      left: 64px !important;
      gap: 0px !important;
      top: -17px !important;
    }

    .artists-wrapper {
      width: 302px !important;
      height: 3670px !important;
      left: 54px !important;
      top: 25px !important;
      border-radius: 71px;
      border-bottom-right-radius: 10px;
      border-bottom-left-radius: 10px;

      h1 {
        position: absolute;
        left: 55px;
        top: 105px;
        font-size: 19px;
      }

      .user-artist-content-wrapper {
        display: flex;
        flex-direction: row;
        gap: 17px;
        left: -41px;
        flex-wrap: wrap;
        justify-content: center;
        position: absolute;
        top: 207px;
      }
    }
  }

  .Image-Info-Main {
    width: 374px;
    height: 2190px;
    left: -74px;
    position: fixed !important;
    z-index: 12;
    top: -297px;

    .back-icon {
      position: fixed;
      top: 117px;
      left: 5px !important;
    }

    .css-4z499o-JoyCard-root {
      width: 281px !important;
      left: 34px !important;
      top: 138px;
      position: fixed;
    }

    .Info-Main {
      width: 169px !important;
      position: fixed;
      left: 208px !important;
      top: 66px !important;
      height: 172px !important;
    }
  }

  .NotFound-Main {
    max-width: 300px;
    width: 499px !important;

    .not-found-wrapper {
      width: 302px !important;
      height: 3670px !important;
      left: 54px !important;
      top: 25px !important;
      border-radius: 71px;
      border-bottom-right-radius: 10px;
      border-bottom-left-radius: 10px;

      h1 {
        position: absolute;
        top: 239px;
        left: 35px;
        font-size: 43px;
      }

      .pencil {
        top: 107px;
      }
    }
  }
  .Image-Info-Main {
    width: 787px;
    height: 2190px;
    left: -74px;
    position: absolute;
    z-index: 12;
    top: -297px;

    .back-icon {
      position: fixed;
      top: 117px;
      left: 62px;
    }

    .css-4z499o-JoyCard-root {
      width: 428px;
      left: 82px;
      top: 149px;
    }

    .Info-Main {
      width: 227px;
      position: fixed;
      left: 565px;
      top: 152px;
      height: 418px;
    }
  }
  .Input-Skeleton {
    display: none;
  }

  .Sait-Info-Main {
    display: flex;
    justify-content: center;
    width: 413px;

    .sait-info-wrapper {
      width: 791px !important;
      height: 934px;
      margin-left: -380px;
      left: 10px;
      background-color: #fff;
      z-index: 20;

      .text-block {
        z-index: 2;
        width: 327px;
        height: 500px;
        position: absolute;
        top: 168px;
        left: 38px;
      }

      .animate-charcter {
        font-size: 25px !important;
        margin-left: -9px;
      }

      .button {
        margin-left: 39px;
      }

      p {
        margin-left: -12px;
      }
    }
    img {
      display: none;
    }
    .mobile-image {
      display: block;
      position: absolute;
      width: 83px !important;
      margin-right: 372px;
      top: 83px;
    }
  }
}

@media (max-width: 1100px) {
  .Home-Main {
    width: 771px;

    .wrapper {
      width: 1150px;
      height: 2000px;
      left: 63px;
    }
  }

  .Not-Found-Input {
    p {
      left: 75px;
    }

    img {
      left: 127px;
    }
  }

  .Input {
    width: 317px;
    left: 165px;
  }

  .Select {
    position: absolute;
    left: 529px;
    z-index: 12;
    top: 168px;
  }

  .Popular-Main {
    width: 771px;

    .popular-wrapper {
      width: 1150px;
      height: 2000px;
      left: 63px;

      h1 {
        margin-left: -33px;
      }
    }
  }
  .Expensive-Main {
    width: 771px;

    .expenisve-wrapper {
      width: 1150px;
      height: 2000px;
      left: 63px;

      h1 {
        padding-left: -35px;
      }
    }
  }

  .Cheap-Main {
    width: 771px;

    .cheap-wrapper {
      width: 1150px;
      height: 2000px;
      left: 63px;

      h1 {
        padding: -65px;
        font-weight: 100;
        left: 12px !important;
      }
    }
  }

  .cart-wrapper {
    height: 1300px !important;
  }

  .Order-Main {
    width: 771px;

    .Select-Border {
      position: absolute;
      width: 467px;
      top: 515px;
      right: 149px;
    }

    .order-wrapper {
      width: 1150px;
      height: 799px;
      left: 38px;
      top: 68px;
      left: 4px !important;

      .Checkbox-wrapper {
        display: flex;
        flex-direction: column;
        position: absolute;
        right: 320px;
        top: 217px;

        p {
          font-size: 9px !important;
        }

        h2 {
          position: absolute;
          white-space: nowrap;
          top: -2px;
          font-size: 12px !important;
          left: 70px !important;
        }
      }

      .image-content-border {
        width: 299px !important;
        height: 269px !important;
        position: absolute;
        top: 217px;
        left: 62px;
      }

      h1 {
        color: white;
        margin: 61px;
        font-size: 39px;
        position: absolute;
        top: 48px;
      }
    }
  }

  .Sait-Info-Main {
    img {
      display: none;
    }

    .mobile-image {
      display: block;
      position: absolute;
      width: 138px;
      margin-right: 2px;
    }
  }
}
